<!doctype html>

    <html>
    <head>
    
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>home page</title>
    {% endif %}
    </head>
    <body>
    <div>
    url shortet : 
    <a href="{{ url_for('index')}}">home</a>
    <a href="{{ url_for('login') }}">sign in</a>
    </div>
    <hr>

    <div>
      {% with messages = get_flashed_messages() %}
      {% if messagees %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    
    {% block content %} {% endblock %}
      </body>
    </html>
