<!doctype html>

    <html>
    <head>
    
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>home page</title>
    {% endif %}
    </head>
    <body>
    <div>
    url shortet : 
    <a href="{{ url_for('index')}}">home</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">sign in</a>
    {% else %}
    <a href="{{ url_for('logout') }}">sign out</a>
    <span>welcom to you site {{current_user.username}} </span>
    {% endif %}
  </div>
    <hr>

    <div>
      {% with messages = get_flashed_messages() %}
      {% if messagees %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    
    {% block content %} {% endblock %}
      </body>
    </html>
