{% extends 'base.html' %}

{% block content %}
    <h2>Sign in:</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
    {{ form.username.label }} : {{ form.username(size=32)}}
    {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ form.password.label }} <br> {{ form.password(size=32) }}
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br>
    <p> {{ form.remmber_me.label }} {{ form.remmber_me() }} </p>
    <p> {{ form.submit() }} </p>
    </form>
    <p>new user? <a href="{{ url_for('register') }}">click this</a></p>
{% endblock %}