{% extends 'base.html' %}
{% block content %}
    <h3>for use from site please register your name </h3>
    <h4>Sign up:</h4>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.name.lable }} :      {{ form.name(size=32) }}</p>
        <p>{{ form.family.lable }} :    {{ form.family(size=64) }}</p>
        <p>{{ form.birthday.lable }} :  {{ form.birthday() }}</p>
        <p>{{ form.email.lable }} :     {{ form.email() }}</p>
        <p>{{ form.mobile.lable }} :    {{ form.mobile(size=11) }}</p>
        <p>{{ form.username.lable }} :  {{ form.username(size=32) }}</p>
        <p>{{ form.password.lable }} :  {{ form.password(size=32) }}</p>
        <p>{{ form.password2.lable }} : {{ form.password2(size=32) }}</p>
        <p>{{ form.website.lable }} :   {{ form.website(size=32) }}</p>
        <br>
        <p>{{ form.submit() }}</p>

    </form>

{% endblock %}